* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding: 100px;

}

.popsicle {
    position: relative;
    width: 150px;
    height: 250px;
    border: 3px solid black;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    background: repeating-linear-gradient(315deg,
            red 0%, red 10%,
            blue 10%, blue 20%,
            yellow 20%, yellow 30%,
            green 30%, green 40%,
            purple 40%, purple 50%);
    background-size: 200% 200%;
    animation: popsicle-animation 0.2s linear infinite forwards;
}

@keyframes popsicle-animation {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }
}


.stick {
    position: absolute;
    bottom: -121px;
    left: 50%;
    margin-left: -23px;
    width: 40px;
    height: 120px;
    border: 3px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background: #ffd038;
}